/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variações CSS */
:root {
  --header-height: 3rem;
  
  /* Cores */
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /* Tamanho e Tipografia */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* Peso da Fonte */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margens */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */


/* Variações tema dark */


/* Botão light/dark */


/* Variações de escala da fonte */


/* Botão pdf */


/* Tamanho e impressão do CV */


/* CSS */


/* Layout */


/* Nav */


/* Exibição do menu */


/* Ativar menu link  */


/* Home */


/* Social */


/* Perfil */


/* Educação e experiência */


/* Hab e linguagens */


/* Certificados */


/* Referências */


/* Interesses */


/* Scroll top */


/* Media Queries */
/* Dispositivos pequenos - menu de duas colunas  */


/* Modificações para tamanhos largos */

